<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Devpress</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <a href="/">Devpress</a>
        <nav>
          <ul>
            <ul>
              <li><a href="/admin/categories">Categorias</a></li>
              <li><a href="/admin/articles">Artigos</a></li>
            </ul>
            <ul>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
