<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Devpress</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <a href="/">Devpress</a>
        <nav>
          <ul>
            <ul>
              <li><a href="/">Home</a></li>
              <% categories.forEach((category) => { %>
              <li>
                <a href="/categories/<%= category.slug %>"
                  ><%= category.title %></a
                >
              </li>
              <% }) %>
            </ul>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
